<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "campanas/wizard_base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block head_js %}
  <script type="text/javascript"
          src="{% static 'ominicontacto/JS/campanas/formularioNuevaEditaCampana.js' %}">
  </script>
  <script type="text/javascript" src="{% static 'ominicontacto/JS/interaccion.js' %}"></script>
  <script type="text/javascript" src="{% static 'ominicontacto/JS/campoDireccion.js' %}"></script>
  {% get_current_language as LANGUAGE_CODE %}
  <input class="hidden" value="{{ LANGUAGE_CODE }}" id="languageCode">
  <script type="text/javascript" src="{% static 'ominicontacto/JS/campanas/campana_dialer/nueva_edita_campana.js' %}">
  </script>
  <script type="text/javascript" src="{% static 'ominicontacto/JS/select2.min.js' %}"></script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/select2.min.css' %}"></link>
{% endblock %}

{% block nav %}
<input class="hidden" value="{{ LANGUAGE_CODE }}" id="languageCode">
    <h1>{% trans 'Campaña Dialer: Datos Básicos' %} {% if not form.instance.pk %}<span style="color:red;">- {% trans 'Canales en uso:' %} {{ canales_en_uso }}{% endif %}</h1>

    <ul class="nav nav-indicators">
        <li class="active"><a>{% trans 'Campaña' %}</a></li>
        <li class="disabled"><a>{% trans 'Cola' %}</a></li>
        <li class="disabled"><a>{% trans 'Opciones de calificación' %}</a></li>
        {% if interaccion_crm %}
            <li class="disabled"><a>{% trans 'Interacción con Sitio Externo' %}</a></li>
        {% endif %}
        <li class="disabled"><a>{% trans 'Actuacion' %}</a></li>
        {% if not form.instance.pk %}
            <li class="disabled"><a>{% trans 'Reglas Incidencias' %}</a></li>
            {% if not es_template %}
                <li class="disabled"><a>{% trans 'Dar permiso a supervisores' %}</a></li>
                <li class="disabled"><a>{% trans 'Adicionar agentes' %}</a></li>
                <li class="disabled"><a>{% trans 'Sincronizar' %}</a></li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}

{% block form_render %}
    {% with form as form %}
        {{ form.non_field_errors }}
        <div class="form-row">
            <div class="col-md-5">
                <label for="{{ form.nombre.id_for_label }}">{% trans 'Nombre:' %}</label>
                {{ form.nombre|add_class:"form-control" }}
                <small id="nameHelpBlock" class="form-text text-muted">
                    {% trans 'Los espacios, tildes, ñ-es y otros caracteres no ASCII no están permitidos.' %}
                </small>
                {{ form.nombre.errors }}
            </div>
            <div class="col-md-2">
                <label for="{{ form.mostrar_nombre.id_for_label }}">{% trans "Mostrar nombre al recibir llamado" %}: </label>
                {{ form.mostrar_nombre }}
            </div>
            <div class="col-md-5">
                <label for="{{ form.bd_contacto.id_for_label }}">{% trans 'Base de Datos de Contactos:' %}</label>
                {{ form.bd_contacto }}
                {{ form.bd_contacto.errors }}
            </div>
            <div class="col-md-4">
                <label for="{{ form.control_de_duplicados.id_for_label }}">{% trans 'Control de contactos duplicados:' %}</label>
                {{ form.control_de_duplicados }}
                {{ form.control_de_duplicados.errors }}
            </div>
            {% if not form.initial.es_template %}
                <div class="col-md-3">
                    <label for="{{ form.fecha_inicio.id_for_label }}">{% trans 'Fecha inicio:' %}</label>
                    {{ form.fecha_inicio|attr:"id:id_fecha_inicio" }}
                    {{ form.fecha_inicio.errors }}
                </div>
                <div class="col-md-3">
                    <label for="{{ form.fecha_fin.id_for_label }}">{% trans 'Fecha fin:' %}</label>
                    {{ form.fecha_fin|attr:"id:id_fecha_fin" }}
                    {{ form.fecha_fin.errors }}
                </div>
            {% endif %}

            <div class="col-md-6">
                {{ form.campo_direccion.as_hidden }}
                <label for="{{ form.campo_direccion_choice.id_for_label }}">{% trans 'Campo para dirección:' %}</label>
                {{ form.campo_direccion_choice }}
                {{ form.campo_direccion_choice.errors }}
            </div>

            <div class="col-md-3">
                <label for="{{ form.sistema_externo.id_for_label }}">{% trans 'Sistema externo:' %}</label>
                {{ form.sistema_externo }}
                {{ form.sistema_externo.errors }}
            </div>
            <div class="col-md-3">
                <label for="{{ form.id_externo.id_for_label }}">{% trans 'ID en sistema externo:' %}</label>
                {{ form.id_externo }}
                {{ form.id_externo.errors }}
            </div>

        {% block tipo_interaccion %}
            {{ form.tipo_interaccion.errors }}
            <div class="col-md-2">
              <label> {% trans "Tipo de Interacción" %}</label>
                <div class="myradio" onclick="interaccionUrl()">{{ form.tipo_interaccion.0 }}</div>
                <div class="myradio" onclick="interaccionUrl()">{{ form.tipo_interaccion.1 }}</div>
                <div class="myradio" onclick="interaccionUrl()">{{ form.tipo_interaccion.2 }}</div>
            </div>
            <div class="col-md-3">
                <label><div class="myradio">{% trans "Url Externa" %}</div> </label>
                {{ form.sitio_externo.errors }}
                {{ form.sitio_externo }}
            </div>
        {% endblock %}
            <div class="col-md-3">
                <label for="{{ form.outr.id_for_label }}">{% trans 'Ruta Saliente: ' %}</label>
                {{form.outr}}
                {{form.outr.errors}}
            </div>
            <div class="col-md-3">
                <label for="{{ form.outcid.id_for_label }}">{% trans ' CID Ruta Saliente' %}</label>
                {{form.outcid}}
                {{form.outcid.errors}}
            </div>
            <div class="col-md-3">
                <label>{% trans 'Objetivo:' %}</label>
                {{ form.objetivo }}
                {{ form.objetivo.errors }}
            </div>
            <div class="col-md-3">
                <label>{% trans 'Prioridad:' %}</label>
                {{ form.prioridad }}
                <small class="form-text text-muted">{{ form.prioridad.help_text }}</small>
                {{ form.prioridad.errors }}
            </div>
            <div class="col-md-6">
                <label for="{{ form.speech.id_for_label }}">{% trans 'Speech:' %}</label>
                {{ form.speech }}
                {{ form.speech.errors }}
            </div>
        </div>
    {% endwith %}
{% endblock %}
