<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_js %}
    <script type="text/javascript" src="{% static 'ominicontacto/JS/csrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/pygal-tooltips.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/pygal-tooltips.js' %}"></script>
    <script type="text/javascript" src="{% static 'JS/ext/reconnecting-websocket-iife.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'reportes_app/JS/reporte_resultados_de_base_campana.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- Datos ocultos -->
    <input id="task_id" type="hidden" value="{{task_id}}">
    <input id="campana_id" type="hidden" value="{{campana.pk}}">
    <h1>{% trans 'Estado de contactaciones de la Campaña: ' %}{{ campana.nombre }}</h1>
    <br>
    <div class="row ml-1">
        <div class="col-md-6">
            <div class="row">
                <input type="button" class="btn btn-outline-primary btn-sm" value="{% trans 'Exportar Contactaciones (CSV)' %}" id="csvContactacionesDescarga"></input>
                <a class="hidden" id="csvContactacionesDescargaLink" href="{% url 'exporta_reporte_resultados_de_base_contactaciones' campana.pk 0 %}">{% trans "Descargar Reporte de Contactaciones (CSV)" %}</a>
                <div data-toggle="tooltip" data-placement="top"
                        title="{% trans 'ADVERTENCIA: generar un CSV de mas de un mes mientras estan operando los agentes puede generar lentitud en el sistema' %}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question" fill="currentColor" title="sfsdfsd"  xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                    </svg>
                </div>
            </div>
            <div id="barraProgresoCSVContactaciones" class="hidden row mt-2">
                <div class="col-md-6">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        {% if mostrar_export_todos %}
            <div class="col-md-6">
                <div class="row">
                    <input type="button" class="btn btn-outline-primary btn-sm" value="{% trans 'Contabilizar todos los contactados' %}" id="csvTodasContactacionesDescarga"></input>
                    <a class="hidden" id="csvTodasContactacionesDescargaLink" href="{% url 'exporta_reporte_resultados_de_base_contactaciones' campana.pk 1 %}">{% trans "Descargar Reporte de Todas las Contactaciones (CSV)" %}</a>
                    <div data-toggle="tooltip" data-placement="top"
                            title="{% trans 'ADVERTENCIA: generar un CSV de mas de un mes mientras estan operando los agentes puede generar lentitud en el sistema' %}">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question" fill="currentColor" title="sfsdfsd"  xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                        </svg>
                    </div>
                </div>
                <div id="barraProgresoCSVTodasContactaciones" class="hidden row mt-2">
                    <div class="col-md-6">
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <table class="table mt-5">
        <thead>
            <tr class="fts-table-bg">
                <th>{% trans "Teléfono" %}</th>
                {% for columna in columnas_datos %}
                <th>{{ columna }}</th>
                {% endfor %}
                <th>{% trans "Calificación" %}</th>
                <th>{% trans "Contactación" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for contactacion in reporte.contactaciones.values %}
            <tr>
                <td>{{ contactacion.contacto.telefono }}</td>
                {% for dato in contactacion.contacto.lista_de_datos %}
                <td>{{ dato }}</td>
                {% endfor %}
                <td>{{ contactacion.calificacion|default_if_none:'' }}</td>
                <td>{{ contactacion.contactacion|default_if_none:'' }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="16">
                    <p>{% trans "No se encontraron Contactaciones para esta campaña." %}</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}